/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1rem;
}

.one > p {
    padding-bottom: 2rem;
}

.one > h3 {
    padding-bottom: 2rem;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three li {
    display: inline;
    padding: 2rem;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > label {
    display: flex;
    flex-direction: column;
    width: auto;
}

.five {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

article {
    padding: 20px;
    flex: 1;
    min-width: 400px;
}

